@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

#app{
  height: 100vh;
  width: 100vw;
}

/* Parie Menue */
.sidebar {
  width: 300px;
  background-color: #1e2b37;
  color: white;
  height: 100vh;
  padding: 20px 0;
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar ul li.active , .sidebar ul li:hover {
  background-color: yellow;
  color: black;
}

/* Contenu Main : Header, et liste des données */
.main {
  flex: 1;
}

.header {
  background-color: yellow;
  color: black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .user{
  font-family: "Century Gothic";
  font-size: 20px;
  font-weight: bold;

}

.content {
  padding: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid lightslategray;
}
input[type="text"]:focus {
  border: 1px solid lightslategray;
  outline: none;
}

/* Tableau */

table {
  width: 100%;
  border-collapse: collapse;
}
thead{
  background-color: beige;
}

th{
  color: midnightblue;
}

td{
  font-family: "Century Gothic";
}

tr:hover{
  background-color: lightblue;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Aucun résultat*/
.NoClient{
  width: 18%;
  height: 40px;
  font-family: "Century Gothic";
  border:  1px solid black;
  margin-top: 20px;
  text-align: center;
}

/* Partie Pagination */

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 15px;
  cursor: pointer;
}